.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Mc;
  src: url(./fonts/McLaren-Regular.ttf);
}

.bgimg{
  background-image: url(./assets/Pikachusurf.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbg{
  background-color: rgba(255, 255, 255, .25);
  font-family: Mc;
}

.ft{
  font-size: 50px;
}

.fourty{
  font-size: 40px;
}

.twenty{
  font-size: 20px;
  font-family: Mc;
}

.twf{
  font-size: 25px;
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
}

.thirty{
  font-size: 30px;
}

.inputfield{
  width: 350px;
  height: 30px;
}

.btnclass{
  width: 175px;
  background-color: white;
}

.Mc{
  font-family: Mc;
}

.scrolltxt {
  overflow-y: auto;
  height: 165px;
  /* Edit for responsiveness */
  /* width: 475px; */
}

.favbg{
  background-color: rgba(0, 0, 0, .5);
  color: white;
  height: 100vh;
}